<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DramTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB9CAC141E80CB790039290F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9CAC2A1E80CB7B0039290F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9CAC351E80CB7B0039290F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
